/**
 * Styles that impact blocks in the editor
 */

/*===================================================
=         Always use Media Library in Flows         =
===================================================*/
/*
 Hide color options in cover placeholder
 Current not configurable due to iFramed block editor
*/
.wp-block-cover__placeholder-background-options {
	display: none;
}

/* always style the Media Library item as a primary button */
.block-editor-media-placeholder .components-form-file-upload + .components-button {
	background: var(--wp-admin-theme-color);
	color: #fff;
	padding: 6px 12px;
}

.block-editor-media-placeholder .components-form-file-upload + .components-button:hover:not(:disabled) {
	background: var(--wp-admin-theme-color-darker-10);
	color: #fff;
}

/* Never show "upload" and "from URL" options in WordPress 6.3+ when editor is in iframe */
.wp-block-image .components-placeholder__instructions,
.components-placeholder .components-form-file-upload,
.block-editor-media-replace-flow__media-upload-menu .components-form-file-upload {
	display: none;
}

/*
 Hide the "Upload" button in the editor because it skips the media library
 Hide the "Image from URL" option to discourage hotlinking and not having alt text
 Filter Value: image-file-upload
 */
.block-editor-media-placeholder__url-input-container {
	display: none;
}